.top-buffer{
    /*margin-top:30px;*/
}
.centered{
    text-align:center;
}

.header{
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    text-align: center;
}

.add-button{
    background: url("../images/add-icon.png") no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}